### Measure of Dispersion
#### Variance and dispersion

In [3]:
import numpy as np

In [4]:
ages = [12,23,23,34,45,56,67,78,89]

In [5]:
mean = np.mean(ages)

In [6]:
mean

47.44444444444444

In [7]:
var = np.var(ages)
var

639.358024691358

In [9]:
std = np.std(ages)
std

25.285529946816578

In [10]:
import pandas as pd

In [11]:
data = [[10,12,13],[21,23,25],[31,33,35]]

In [14]:
data

[[10, 12, 13], [21, 23, 25], [31, 33, 35]]

In [15]:
df = pd.DataFrame(data,columns =("A","B","C"))

In [16]:
df

    A   B   C
0  10  12  13
1  21  23  25
2  31  33  35

In [22]:
### Row wise
df.var(axis=1)

0    2.333333
1    4.000000
2    4.000000
dtype: float64

In [23]:
### Column wise
df.var(axis=0)

A    110.333333
B    110.333333
C    121.333333
dtype: float64

In [24]:
df.var()

A    110.333333
B    110.333333
C    121.333333
dtype: float64